* {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
}
a::after {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(black, rgb(20, 20, 20));
}

#home-page {
    background-color: black;
    background-image: linear-gradient(purple, orange);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    border: solid 5px gray;    
}

#tile{
    width: 25px;
    height: 25px;
    color: white;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    background-color: rgb(17, 17, 17);
    margin: 1vw;
}

#controls p {
    font-size: .75vw;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 1vh;
}

.display-box {
    border: solid 2px gray;
    margin-inline: 2vw;
    margin-top: 1vh;
}

#next-container {
    display: flex;
    flex-direction: column-reverse;
}

#back {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vh;
    background-color: black;
    margin-top: 2vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    border: solid 2px gray;
    color:white;
}

#back:hover {
    color:orange;
    font-size: 2.2vw;
}

#arcade-machine {
    margin-inline: 5vw;
    width: 18.8vw;
    height: 40vw;
    background-image: url(https://api.sandbox.game/assets/public/f9a867a6-7076-4968-be99-ca8972bc7feb/preview?bafkreicpvddc7zwxmpsnv3qkic55tlfc3s5lmv2v4diyru5vxoxnzegtju?bafkreicpvddc7zwxmpsnv3qkic55tlfc3s5lmv2v4diyru5vxoxnzegtju);
    background-size: contain;
    background-repeat: no-repeat;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    border: solid 1px rgb(255, 255, 255, 0.2);
    background-color: black;
}

.mino {
    border: solid 1px black;
    background-color: red;
}

.next {
    border: solid 1px black;
    background-color: purple;
}

.hold {
    border: solid 1px black;
    background-color: green;
}

.ghost {
    border: solid 1px white;
    background-color: gray;
}

.filled {
    border: solid 1px black;
    background-color: blue;
}

.filled-lost {
    border: solid 1px black;
    background-color: gray;
}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vw;
    border: solid 5px gray;
    margin-left: 1vw;
    background-color: rgb(17, 17, 17);
    font-size: 1.75vw;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
