* {
    margin:0;
    padding:0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(black, rgb(20, 20, 20));
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    border: solid 5px gray;    
}

#tile{
    width: 25px;
    height: 25px;
    color: white;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px gray;
    background-color: rgb(17, 17, 17);
    margin: 1vw;
}

#controls p {
    font-size: .75vw;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 1vh;
}

.display-box {
    border: solid 2px gray;
    margin-inline: 2vw;
    margin-top: 1vh;
}

#next-container {
    display: flex;
    flex-direction: column-reverse;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    border: solid 1px rgb(255, 255, 255, 0.2);
    background-color: black;
}

.mino {
    border: solid 1px black;
    background-color: red;
}

.next {
    border: solid 1px black;
    background-color: purple;
}

.hold {
    border: solid 1px black;
    background-color: green;
}

.ghost {
    border: solid 1px white;
    background-color: gray;
}

.filled {
    border: solid 1px black;
    background-color: blue;
}

.filled-lost {
    border: solid 1px black;
    background-color: gray;
}

.score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vw;
    border: solid 5px gray;
    margin-left: 1vw;
    background-color: rgb(17, 17, 17);
    font-size: 1.75vw;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
